body {
    font-family: Arial, sans-serif;
    text-align: center;
	transition: background-color 0.4s ease;
    margin: 50px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    color: white;
	background-color: #48cfcf;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3eb0b0;
}
